name: Android Fastlane with Firebase App Distribution Workflow

on:
  push:
    branches:
      - master
    paths:
      - "pubspec.yaml"

jobs:
  android_distribute_to_firebase:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout my repo code
        uses: actions/checkout@v2

      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17.0.9'
          distribution: 'temurin'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.3"
          channel: stable

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2.3"
          bundler-cache: true
          working-directory: android

      - name: Build and Distribute App
        env:
          FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
          GOOGLE_MAP_KEY: ${{ secrets.GOOGLE_MAP_KEY }}
        run: |
          bundle exec fastlane android firebase_distribution
        working-directory: android

